<%- include("partials/header"); -%>
    <div class="blogcontent">

        <div class="row row-cols-1 row-cols-lg-3 g-4">


            <% posts.forEach(post => { %>
            <a class="zoomsm cardspace" href="/posts/<%=post._id%>">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><%= post.title %></h5>
                            <p class="card-text"><%= post.content[0].substring(0,100)+('...')%></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted: <%= post.dateposted%></small>
                        </div>
                    </div>
                </div>
            </a>
            <% }); %>


        </div>
</div>
<%- include("partials/footer"); -%>