<%- include("partials/header"); -%>
<div class="postcontainer">
    <div class="postcontent">
        <h1> <%= title %></h1>
        <br>
        <p>Posted: <%= dateposted %></p>
        <% var i;%>
        <% for (i = 0; i < content.length; i++) { %>
        <p><%= content[i] %></p>
        <% } %>
    </div>
</div>
<%- include("partials/footer"); -%>